* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#blog {
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

#blog .section-content {
  width: 85%;
  margin: 40px auto;
  margin-top: 80px;
  margin-bottom:120px;
}

#blog .section-content .title {
  width: 60%;
  text-align: center;
  margin: auto;
}

#blog .section-content .title h2 {
  font-size: 40px;
  color: #000000;
  text-transform: uppercase;
}

#blog .section-content .title p {
  font-size: 20px;
  color: #000000;
  text-transform: capitalize;
}

#blog .section-content .title p {
  margin-top: 20px;
  color: #6a6a6a;
  font-size: 18px;
}

#blog .section-content .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 50px;
  margin: 25px auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

#blog .section-content .cards .card {
  width: 400px;
  height: 500px;
  background-color: #f7f7f7;
  position: relative;
}

#blog .section-content .cards .card img {
  width: 100%;
  height: auto;
}
#blog .section-content .cards .card .article {
  padding: 15px 20px;
}
#blog .section-content .cards .card .article h4 {
  font-size: 24px;
  color: #4a4a4a;
}
#blog .section-content .cards .card .article p {
  font-size: 16px;
  margin: 10px 0px;
  color: #6a6a6a;
}

#blog .section-content .cards .card a {
  text-decoration: none;
  display: inline-block;
  background-color: #11a372;
  padding: 8px 15px;
  margin-left: 20px;
  color: #fff;
  margin-bottom: 20px;
}

#blog .section-content .cards .card .posted-date p {
  font-weight: 600;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  background-color: #11a372;
  padding: 6px;
}
