* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#services {
    min-height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: #a6a7b1;
    font-family: 'Times New Roman', Times, serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    padding-bottom: 80px;
}

h2{
    font-size: 40px;
    font-weight: bold;
    color: #000000;
}

.column {
    width: 100%;
    border: 1px solid orange;
    padding: 0 1em 1em 1em;
    text-align: center;
}

.card {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #11a372 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    transition: 0.5s;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
}

p {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}

.icon-wrapper {
    background-color: #11a372;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

.card:hover {
    background-position: 0 100%;
}

.card:hover .icon-wrapper {
    background-color: #ffffff;
    color: #11a372;
}

.card:hover h3 {
    color: #ffffff;
}

.card:hover p {
    color: #ffffff;
}

@media screen and (min-width: 768px) {
    #services  {
        padding: 0 2em;
    }

    .column {
        flex: 0 50%;
        max-width: 50%;
    }
}

@media screen and (min-width: 992px) {
    #services  {
        padding: 1em 3em;
    }

    .column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}